{% if not public %}<a href="{% url 'CIResults-ifa-detail' ifa.id %}" title="{{ifa.activity_period}}">{{ifa.filter}}</a>{% else %}<span title="{{ifa.activity_period}}">{{ifa.filter}}</span>{% endif %}
