{% if not public %}<a href="{% url 'CIResults-testresult-detail' testresult.id %}">{{testresult.status}}</a>{% else %}{{testresult.status}}{% endif %}{% if testresult.url is not None %} (<a href="{{testresult.url}}">external URL</a>){% endif %}
