<form class="form-inline search_bar text-center {% if not query.is_valid %}has-error{% endif %}" method='get' {% if filter_url is not None %}action="{{filter_url}}" {% endif %}>
    <label for="userFilteringQuery">Filter</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="userFilteringQuery" placeholder="Query" name='query' value='{{query.user_query}}'>
    {% if not public %}
    <button type="submit" class="btn btn-primary mb-2">Filter</button>
    <a href="#" class="btn btn-default mb-2" title="Help!" data-inform-target="searchbox_doc"><span class="glyphicon glyphicon-question-sign"/></a>
    {% endif %}
</form>

<div id="searchbox_doc" class="hidden">
    <p>This view allows you to restrict the data that is used to generate the metrics.</p>

    <p>The base of the query language is structured as followed. A basic expression follows the following format:</p>

    <p>$object $operator $value</p>

    <p>The base expressions can then be combined with each other using the AND, OR, or NOT operators. Priorities should be enforced using parenthesis.</p>

    <h4>Available objects and values</h4>
    <p>The following objects can be used for filtering:</p>

    <table class="table table-striped table-hover table-bordered table-sm sortable">
        <tr><th>Object name</th> <th>Type</th> <th>Description</th></tr>
        {% for obj_name, filter in filters_model.filter_objects_to_db.items %}
            <tr><td>{{obj_name}}</td> <td><span class="userfilter_object_type" title="{{filter.documentation}}">{{filter.data_type}}</span></td> <td>{{filter.description}}</td></tr>
        {% endfor %}
    </table>

    <h4>Available helpers</h4>

    <table class="table table-striped table-hover table-bordered table-sm">
        <tr><th>Helper</th><th>Description</th></tr>
        <tr><td>ago(duration)</td><td>Allows specifying a datetime as a relative time from now. For example ago(3 days 12:00:00) means the time it was 3 days and 12 hours ago.</td></tr>
    </table>

    <h4>Available operators</h4>

    <table class="table table-striped table-hover table-bordered table-sm">
        <tr><th>Operator</th><th>Description</th></tr>
        <tr><td>=</td><td>Check if the object is exactly equal to the value. Applicable to all types of value</td></tr>
        <tr><td>&gt;, &lt;, &gt;=, &lt;=</td><td>Make comparisons. Applicable to integer, datetime and duration types<</td></tr>
        <tr><td>CONTAINS, ICONTAINS</td><td>Check if the object contains the substring given as a value. Use ICONTAINS for the search to be case-incensitive</td></tr>
        <tr><td>MATCHES, ~=</td><td>Check if the object matches a certain regular expression</td></tr>
    </table>

    <h4>Examples</h4>
    <ol>
        <li><a href="{{metrics_passrate_url}}?query=runconfig_added_on > datetime(2018-12-12)">runconfig_added_on > datetime(2018-12-12)</a>: Only use the data coming from run configurations added after 2018-12-12</li>
        <li><a href="{{metrics_bugs_url}}?query=NOT creator_email CONTAINS toto.tata@">NOT creator_email CONTAINS toto.tata@</a>: do not use data created by a person who has toto.tata@ in his/her email address</li>
        <li><a href="{{metrics_bugs_url}}?query=NOT creator_email CONTAINS toto.tata@ AND status CONTAINS 'WONTFIX'"</a>NOT creator_email CONTAINS toto.tata@ AND status CONTAINS 'WONTFIX'</a>: Same as the previous example, but further restrict the results by only displaying bugs whose status contains the string WONTFIX</li>
        <li><a href="{{metrics_passrate_url}}?query=(runconfig_name CONTAINS 'DRM_39' OR runconfig_name CONTAINS 'DRM_389') AND runconfig_added_on < datetime(2018-12-12)">(runconfig_name CONTAINS 'DRM_39' OR runconfig_name CONTAINS 'DRM_389') AND runconfig_added_on < datetime(2018-12-12)</a>: Only use the data coming from run configuration added before 2018-12-12 and containing either DRM_39 or DRM_389 in name</li>
    </ol>
</div>
