{% extends 'CIResults/base.html' %}
{% load runconfig_diff %}

{% block title %}Compare results{% endblock %}

{% block content %}
    {% load humanize %}
    <div class="main_body container-fluid">
        <form class="form-inline search_bar text-center" method="get">
            <div class="form-group runconfig_input_group {% if from_error %}has-error{% endif %}">
                <label for="formRunconfigFrom">Compare</label>
                <input list="runconfigs" id="formRunconfigFrom" name="from" class="form-control mb-2 mr-sm-2" placeholder="From" value="{{diff.runcfg_from.name}}">
            </div>

            <div class="form-group runconfig_input_group {% if to_error %}has-error{% endif %}">
                <label for="formRunconfigTo">To</label>
                <input list="runconfigs" id="formRunconfigTo" name="to" class="form-control mb-2 mr-sm-2" placeholder="To" value="{{diff.runcfg_to.name}}">
            </div>

            <datalist id="runconfigs">
                {% for runconfig in runconfigs %}
                <option value="{{runconfig.name}}">
                {% endfor %}
            </datalist>
            <button type="submit" class="btn btn-primary mb-2">Compare</button>
        </form>

        <hr />

        <div class='runconfig_diff'>
        {{html_result}}
        </div>
    </div>
{% endblock %}
