{% extends 'CIResults/base.html' %}

{% block title %}Metrics Overview{% endblock %}

{% block content %}
<div class="main_body container-fluid">
    <div class="row">
        <h2>CI issues</h2>
        <div class="col-md-3">
            <div class="panel panel-default" >
                <div class="panel-body ">
                    <canvas id="IssuesOverTime" data-chart-type="issues_over_time" data-chart-data="{{issues_weekly|escape}}" data-chart-title="Issues trend over the last 6 months" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default" >
                <div class="panel-body ">
                    <canvas id="TTRissue" data-chart-type="bin_chart" data-chart-data="{{issues_ttr|escape}}" data-chart-title="Time to resolve issues  (last 30 days)" data-chart-legend="Resolved issues" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default" >
                <div class="panel-body ">
                    <canvas id="issues_age" data-chart-type="bin_chart" data-chart-data="{{issues_age|escape}}" data-chart-title="Age of the open CI issues" data-chart-legend="Open CI issues" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default" >
                <div class="panel-body ">
                    <canvas id="failure_filing_delay" data-chart-type="bin_chart" data-chart-data="{{failure_filing_delay|escape}}" data-chart-title="Unknown failures filing delay (last 30 days)" data-chart-legend="Unknown failures handled" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Bugs</h2>
        <div class="col-md-3">
            <div class="panel panel-default" >
                <div class="panel-body ">
                    <canvas id="BugsOverTime" data-chart-type="bugs_over_time" data-chart-data="{{bugs_weekly|escape}}" data-chart-title="Bugs trend over the last 6 months" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default" >
                <div class="panel-body ">
                    <canvas id="TTRbug" data-chart-type="bin_chart" data-chart-data="{{bugs_ttr|escape}}" data-chart-title="Time to close bugs (last 30 days)" data-chart-legend="Closed bugs" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default" >
                <div class="panel-body ">
                    <canvas id="bugs_age" data-chart-type="bin_chart" data-chart-data="{{bugs_age|escape}}" data-chart-title="Age of the open bugs" data-chart-legend="Open bugs" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fullscreenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             </div>
             <div class="modal-body">
             </div>
         </div>
     </div>
</div>

{% include "CIResults/basic/metrics_deps.html" %}

{% endblock %}
