{% extends 'CIResults/base.html' %}

{% block title %}Results list{% endblock %}

{% block content %}
    <div class="main_body container-fluid">
        {% block information %}{% endblock %}

        {% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=query.model %}

        {% if results|length > 0 %}
        {% include "CIResults/basic/results_chart.html" with panel_title="Chart of the listed results (current page)" %}
        {% endif %}

        <div class="panel panel-default panel-info" >
            <div class="panel-heading">Results list ({% if page_obj is not None %}{{ page_obj.paginator.count }}{% else %}{{results|length}}{% endif %})</div>
            <div id="unknown_failures-body" class="panel-body">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Machine</th>
                            <th>Result / Status</th>
                            <th>Run Config (age)</th>
                            <th>Matched issue/filter (if any)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{% include "CIResults/basic/test.html" with test=result.test %}</td>
                            <td>{% include "CIResults/basic/machine.html" with machine=result.ts_run.machine %}</td>
                            <td>{% include "CIResults/basic/testresult.html" with testresult=result %}</td>
                            <td>{% include "CIResults/basic/runconfig_lite.html" with runconfig=result.ts_run.runconfig %}</td>
                            <td><ul>{% for failure in result.known_failures.all %}<li>{% include "CIResults/basic/issue.html" with issue=failure.matched_ifa.issue %} - {% include "CIResults/basic/ifa.html" with ifa=failure.matched_ifa %}</li>
                            {% empty %}<li>None</li>{% endfor %}</ul></td>
                        </tr>
                    {% empty %}
                    <tr><td colspan="5"><center>No results found or empty query</center></td></tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if not results|length == 0 %}{% include "CIResults/basic/paginator.html" %}{% endif %}
            </div>
        </div>

    </div>
{% include "CIResults/basic/metrics_deps.html" %}
{% endblock %}
