{% extends 'CIResults/base.html' %}

{% block title %}Test Rename{% endblock %}

{% block content %}
    <div class="main_body container-fluid">
        <div class="panel panel-default panel-warning">
            <div class="panel-heading">
                Information about the renaming process (MUST-READ before doing any action)
            </div>
            <div class="panel-body panel-collapse collapse in">
                This page allows you to rename '{{test}}':
                <ul>
                    <li>The test will not be modified</li>
                    <li>A new test will be created with the new name (if needed)</li>
                    <li>The new test's <strong>public</strong> attribute will be set to <strong>{{test.public}}</strong></li>
                    <li>The new test's <strong>vetted_on</strong> attribute will be set to <strong>{{test.vetted_on}}</strong></li>
                    <li>The new tests will be added to the list of issues that were referencing '{{test}}'</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                Rename {{test}} into ...
            </div>
            <div class="panel-body panel-collapse collapse in">
                <div class="container-fluid">
                    <form class="form-inline search_bar" method='post'>{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mb-2">Rename</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-warning panel-info">
            <div class="panel-heading">
                The renaming would add the new test to the following issues:
            </div>
            <div class="panel-body panel-collapse collapse in">
                <div class="container-fluid">
                    <table class="table table-striped table-hover table-bordered table-sm sortable">
                        <thead>
                            <tr>
                                <th>Issue</th>
                                <th>Filter</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ifa in test.in_active_ifas %}
                            <tr>
                                <td>{% include "CIResults/basic/issue.html" with issue=ifa.issue %}</td>
                                <td>{% include "CIResults/basic/ifa.html" with ifa=ifa %}</td>
                            </tr>
                        {% empty %}
                            <tr><td colspan='2' class='text-center'>No issues reference this test</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
